:root{
    --asidewidth:80px;
}

/* general */

.mybg-darkerblue{
    background-color:#165BBA
}
/* header */

.logo-container{
    width:60px;
}

.dropdown-toggle::after{
    display:none;
}

header{
    height:90px;
    position:sticky;
    top:0;
    z-index:2;
    background-color:white;
}

/* main */


aside{
    width:var(--asidewidth);
    background-image:url(../img/sidebar-bg.png);
    background-color:#051E34;
    position:fixed;
    height:calc(100% - 90px)
}

aside .container-fluid{
    height:100%;
}

aside ul{
    list-style:none;
}

aside i{
    max-width:20px;
    height:20px;
}
aside a{
    text-decoration:none;
    color:white;
}

.my-hover:hover{
    background-color:grey;
}

.mymain-container{
    width:calc(100% - var(--asidewidth));
    margin-left:var(--asidewidth);
    
}
td{
    line-height:50px;
}

td .my-imgcontainer{
    width:50px;
    height:50px;
}


@media screen and (min-width:992px){
    :root{
        --asidewidth:150px;
    }
}